body {
    background: url("Mysite/img/background3.jpg") no-repeat center center fixed;
    background-size: cover;
}
.menu{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
.menu a{
    text-decoration: none;
    font-family: sans-serif;
    color: gray;
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    border-bottom: 5px solid gray;
}
.menu li{
    float: left;
}
.Home{
    font-size: 30px;
}

.title {
    margin: 0;
    font-size: 30px;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.intro {
    margin-top: 20px;
    font-size: 30px;

}
.list{
    text-align: left;
    font-size: 35px;
}

.info {
    font-size: 25px;
    color: #500c7e;
}

h2 , h3, h4, h5, h6{
    font-size: 40px;
}
.design{
    font-size: 25px;

}
.models{
    width: 800px;
    height: 480px;
}
button {
    padding: 15px 30px;
    background-color: #268996;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #a7a415;
}

img {
    max-width: 100%;
    height: auto;
}

address {
    color: grey;
}
